@model IEnumerable<Corts.Models.SettingsViewModel>
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>
<hr>
<div id="vehicles">
    <div class="menu" id="left">
        <h3>Add Vehicle</h3>
        <select>
            <option value="a">CarA</option>
            <option value="b">CarB</option>
            <option value="c">CarC</option>
        </select>
    </div>
    <div class="menu" id="right">
        <h3>Remove Vehicle</h3>
        <select>
            <option value="myA">MyCarA</option>
            <option value="myB">MyCarB</option>
            <option value="myC">MyCarC</option>
            <option value="myD">MyCarD</option>
        </select>
    </div>
</div>
<div id="prof">
    <h3>Profile</h3>
    <div class="data">
        <h4>Username: </h4><label>default_1</label>
    </div>
    <div class="changes">
        <button>Change Username</button><button>Change Password</button>
    </div>
    <div class="data">
        <h4>Email: </h4><label>default1@@aol.com</label>
    </div>
    <div class="changes">
        <button>Change Email</button>
    </div>
</div>
<div id="notif">
    <h3>Notifications</h3>
</div>