@model IEnumerable<Corts.Models.MaintenanceViewModel>
@{
    ViewBag.Title = "Maintenance";
}

<h2>Maintenance</h2>
<h4>Your vehicle's condition and cost estimates</h4>
<hr>
<div class="mainStats">
    <h4>Car Health</h4>
    <hr>
    <h5>75%</h5>
</div>
<div class="mainStats">
    <h4>Maintenance Needed</h4>
    <hr>
    <h5>7 Services</h5>
</div>
<div class="mainStats">
    <h4>Months Owned</h4>
    <hr>
    <h5>35</h5>
</div>
<table class="table table-striped" id="vehTab">
    <thead>
        <tr>
            <th colspan="4" id="titleRow"><h3>Vehicle A Breakdown</h3></th>
        </tr>
        <tr>
            <th scope="col">Vehicle Services</th>
            <th scope="col">Condition</th>
            <th scope="col">Paid So Far</th>
            <th scope="col">Future Cost Estimate</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Oil Change</td>
            <td>Good</td>
            <td>$12,00.79</td>
            <td>$15,123.76</td>
        </tr>
        <tr>
            <td>Replace Oil Filter</td>
            <td>Okay</td>
            <td>$98,123.01</td>
            <td>$66,122.66</td>
        </tr>
        <tr>
            <td>Replace Air Filter</td>
            <td>Bad</td>
            <td>$56,123.45</td>
            <td>$17,461.57</td>
        </tr>
        <tr>
            <td>Replace Fuel Filter</td>
            <td>Good</td>
            <td>$12,00.79</td>
            <td>$15,123.76</td>
        </tr>
        <tr>
            <td>Replace Spark Plugs</td>
            <td>Okay</td>
            <td>$98,123.01</td>
            <td>$66,122.66</td>
        </tr>
        <tr>
            <td>Check/Refill Brake Fluid</td>
            <td>Bad</td>
            <td>$56,123.45</td>
            <td>$17,461.57</td>
        </tr>
        <tr>
            <td>Check/Replace Brake Pads</td>
            <td>Good</td>
            <td>$12,00.79</td>
            <td>$15,123.76</td>
        </tr>
        <tr>
            <td>Check/Refill Power Steering Fluid</td>
            <td>Okay</td>
            <td>$98,123.01</td>
            <td>$66,122.66</td>
        </tr>
        <tr>
            <td>Grease Components</td>
            <td>Bad</td>
            <td>$56,123.45</td>
            <td>$17,461.57</td>
        </tr>
        <tr>
            <td>Inspect/Replace Timing Belt</td>
            <td>Good</td>
            <td>$12,00.79</td>
            <td>$15,123.76</td>
        </tr>
        <tr>
            <td>Check/Replace Tires</td>
            <td>Okay</td>
            <td>$98,123.01</td>
            <td>$66,122.66</td>
        </tr>
        <tr>
            <td>Check/Replace Lights/Wipers</td>
            <td>Bad</td>
            <td>$56,123.45</td>
            <td>$17,461.57</td>
        </tr>
    </tbody>
</table>