@model IEnumerable<Corts.Models.MaintenanceViewModel>
@{
    ViewBag.Title = "Maintenance";
}

<h2>Maintenance</h2>
<h4>Your vehicle's condition and cost estimates</h4>
<hr>
<div class="mainStats">
    <h4>Car Health</h4>
    <hr>
    <h5>75%</h5>
</div>
<div class="mainStats">
    <h4>Maintenance Needed</h4>
    <hr>
    <h5>7 Services</h5>
</div>
<div class="mainStats">
    <h4>Months Owned</h4>
    <hr>
    <h5>35</h5>
</div>
<div id="myVehicle">
    <h3>Vehicle A Breakdown</h3>
</div>