@model IEnumerable<Corts.Models.HomeViewModel>
@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
<h4>Readily available vehicle facts for quick and easy comparisons</h4>
<hr>
<div class="homeImg" id="chevy">
    <p>Chevy Cruze 2018</p>
</div>
<div class="homeImg" id="ford">
    <p>Ford Fusion 2018</p>
</div>
<div class="homeImg" id="subar">
    <p>Subaru Impreza 2018</p>
</div>
<table class="table table-striped table-hover" id="info">
    <thead id="infoHead">
        <tr>
            <th>Attribute</th>
            @foreach (var car in ViewBag.Car)
            {
                <th>@car</th>
            }
        </tr>
    </thead>
    <tbody id="infoBod">
        <tr>
            <th>Overall Rating</th>
            @foreach (var rating in ViewBag.OverallRating)
            {
                <td>@rating/5</td>
            }
        </tr>
        <tr>
            <th>Reliability</th>
            @foreach (var reliability in ViewBag.reliability)
            {
                <td>@reliability/5</td>
            }
        </tr>
        <tr>
            <th>Maintenance Cost</th>
            @foreach (var cost in ViewBag.MaintenanceCost)
            {
                <td>$@cost</td>
            }
        </tr>
        <tr>
            <th>Highway</th>
            @foreach (var highway in ViewBag.Highway)
            {
                <td>@highway mph</td>
            }
        </tr>
        <tr>
            <th>City</th>
            @foreach (var city in ViewBag.City)
            {
                <td>@city mph</td>
            }
        </tr>
    </tbody>
</table>